html{
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 70px;
    margin: auto;
    transition: all 0.3s;
    
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display:inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}

.header .nav-links a:hover{ 
    background-color: rgba(214, 8, 50, 0.936) ;
    color: white;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
    
}

main .first, main .second{
    width: 400px;
    margin: auto;
}

.first article{
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    
}

.first article img{
    width:300px;
    height:300px;
    border-radius:150px;
}


.first article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3);
}

.btn{
    border-radius: 30px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.btn-1{
    color: white;
    background-color: rgba(214, 8, 50, 0.936);
}

.btn-1:hover{
    background-color: rgba(191, 22, 56, 0.936);
    transform: scale(1.2);
}

.btn-1:active{
    background-color: rgba(141, 16, 41, 0.936);
}


.second article {
    transition: box-shadow 0.3s ease ;
    background-color: rgba(210, 116, 135, 0.936) ;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
}

.second article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3);
}

div{
    text-align: center;
}

.second a, .second img{
    display: inline-block;
    padding: 0 5px;
    
}

footer{
    background-color: rgba(214, 8, 50, 0.936);
    padding: 1.5rem;
    color: wheat;
    text-align: center;
}

@media screen and (max-width: 800px){

    .header{
        font-size: 16px;
        padding: 2px;
    }

    .header .nav-links a:hover{
        background-color: transparent;
        color: black;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .header .logo img{
        padding: 2px;
    }

    main .first, main .second{
        width: 300px;
    }

    .first article img{
        width: 200px;
        height: 200px;
    }

    
    .second img{
        width: 70px;
        margin: 2px;
    }
}
    


